

<img class="home-objects-icon" alt="" src="assets/object.svg">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   
<img  alt="" src="assets/AluEstimator.svg">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add-circle"></ion-icon>
      
    </ion-fab-button>
    <ion-fab-list side="top">
      <div class="fab-div">
      <h5>New Project</h5>&nbsp; &nbsp;
      <ion-fab-button>
        <ion-icon name="cube-outline"></ion-icon>
      </ion-fab-button>

        
    </div>
    </ion-fab-list>
  </ion-fab>
</ion-content>
