<div class="login-screen">
  <div class="background">
  </div>
  <img class="objects-icon" alt="" src="assets/object.svg">
  <div class="header">
    <b class="login-here">Login here</b>
    <div class="welcome-back-youve-container">
      <p class="welcome-back-youve">Welcome back you’ve</p>
      <p class="welcome-back-youve">been missed!</p>
    </div>
  </div>
  <div class="inputs">
    <ion-input class="input" [(ngModel)]="username" label="Email " label-placement="floating" fill="outline"
      placeholder="Enter Email"></ion-input>
    <ion-input class="input" [(ngModel)]="password" label="Password " label-placement="floating" fill="outline"
      placeholder="Enter Password"></ion-input>
  </div>
  <!-- <div class="forgot-your-password">Forgot your password?</div> -->
  <div class="actions">
    <div class="mask-group" id="maskGroupContainer">
      <div class="button-wrapper" (click)="save()">
        <div class="button">Login</div>
      </div>
    </div>
    <div class="button1">
      <div class="or-continue-with">Create new account</div>
    </div>
  </div>
  <div class="social-media">
    <div class="or-continue-with">Or continue with</div>
    <div class="component-6">
      <div class="google">
        <div class="phgoogle-logo-bold-wrapper">
          <ion-icon name="logo-google"></ion-icon>
        </div>
      </div>
      <div class="google">
        <div class="phgoogle-logo-bold-wrapper">
          <ion-icon name="logo-facebook"></ion-icon>
        </div>
      </div>
      <div class="google">
        <div class="phgoogle-logo-bold-wrapper">
          <ion-icon name="logo-apple"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</div>