.fab-div {
    width: max-content;
    display: flex;
    right: 0;
    position: fixed;
}

h2 {
    font-weight: 500;
    margin-left: 15px;
    font-size: 2vh;

}

.icon {
    width: 30vw;
    height: 15vh;
}

.item-inner {
    background: #F1F4FF;
}

.div1 {
    background: #F1F4FF;
    width: 100%;
    border-radius: 10px;
}


.div2 {
    width: 100%;
    display: grid;
}

.div3 {
    width: 10%;
}

.grid-column {
    grid-column: 1 / span 3;
    grid-row: 3;
}

.other_details {
    font-size: 1.6vh;
    margin: 4px;
}

.project_name {
    margin-bottom: 0;
    text-align: center;
    margin: 5px;
}

.project_list {
    background: #F1F4FF;
    border-radius: 10px;
}

.action_button {
    width: 2.5vh;
    height: 4vh;
}

.ion-item {
    width: 50%;
}

.text-align {
    text-align: center;
}

.ion-item-group {
    display: flex;
}